<h1>
    Set Your Running Distance
</h1>

<form action="/runner" method = "POST">
    <label for="distance">Running Distance:</label>
    <select id="distance" name="distance">
        <option value="mile">One Mile</option>
        <option value="5k">5k</option>
        <option value="10k">10k</option>
        <option value="half+marathon">Half-Marathon</option>
        <option value="marathon">Marathon</option>
        <option value="ultra+marathon">Ultra-Marathon</option>
    </select>
    <p><input type = "submit" value = "submit" /></p>
</form>