<h1>
    Welcome to the Exercise App! Please enter your information below.
</h1>

<form action="/submission" method = "POST">
    <p>Name: <input type = "text" name = "name" /></p>
    <p>5-Digit Zipcode: <input type = "text" name = "zipcode" pattern="[0-9]{5}"/></p>
    <p><label for="exercise">Clothing Size:</label>
    <select id="clothes" name="clothes">
        <option value="small">S</option>
        <option value="medium">M</option>
        <option value="large">L</option>
        <option value="x-large">XL</option>
        <option value="xx-large">XXL</option>
    </select></p>
    <p><label for="exercise">Clothing Gender Category:</label>
    <select id="gen_clothes" name="gen_clothes">
        <option value="mens">Men's</option>
        <option value="womens">Women's</option>
        <option value="gender+neutral">Gender Neutral</option>
    </select></p>
    <p><label for="exercise">Shoe Size:</label>
    <select id="shoes" name="shoes">
        <option value="4">4</option>
        <option value="4.5">4.5</option>
        <option value="5">5</option>
        <option value="5.5">5.5</option>
        <option value="6">6</option>
        <option value="6.5">6.5</option>
        <option value="7">7</option>
        <option value="7.5">7.5</option>
        <option value="8">8</option>
        <option value="8.5">8.5</option>
        <option value="9">9</option>
        <option value="9.5">9.5</option>
        <option value="10">10</option>
        <option value="10.5">10.5</option>
        <option value="11">11</option>
        <option value="11.5">11.5</option>
        <option value="12">12</option>
        <option value="12.5">12.5</option>
        <option value="13">13</option>
        <option value="13.5">13.5</option>
        <option value="14">14</option>
        <option value="14.5">14.5</option>
        <option value="15">15</option>
    </select></p>
    <label for="exercise">Choose an Exercise:</label>
    <select id="exercise" name="exercise">
        <option value="running">Running</option>
        <option value="swimming">Swimming</option>
        <option value="cycling">Cycling</option>
        <option value="triathlon">Triathlon</option>
        <option value="yoga">Yoga</option>
        <option value="weightlifting">Weightlifting</option>
    </select>
    <p><input type = "submit" value = "submit" /></p>
</form>