<h1>
    Set Your Triathlon Distance
</h1>

<form action="/triathlete" method = "POST">
    <label for="distance">Triathlon Distance:</label>
    <select id="distance" name="distance">
        <option value="sprint">Sprint (0.5 Mile Swim/13 Mile Bike/5k Run)</option>
        <option value="olympic">Olympic (1 Mile Swim/25 Mile Bike/10k Run)</option>
        <option value="half+ironman">Half Ironman (1.2 Mile Swim/56 Mile Bike/13.1 Mile Run)</option>
        <option value="ironman">Ironman (2.4 Mile Swim/112 Mile Bike/26.2 Mile Run)</option>
    </select>
    <p><input type = "submit" value = "submit" /></p>
</form>