<h1>
    Choose an Option Below
</h1>

<form action='/triathlete/find_plan'>
    <input type="submit" value="Find a Training Plan" />
</form>

<form action='/triathlete/find_equipment/'>
    <input type="submit" value="Find Equipment" />
</form>

<form action='/triathlete/find_books'>
    <input type="submit" value="Find Books" />
</form>

<form action='/triathlete/find_facilities'>
    <input type="submit" value="Find Facilities" />
</form>

<form action='/triathlete/find_events'>
    <input type="submit" value="Find Upcoming Races" />
</form>

<form action='/'>
    <input type="submit" value="Start Over!" />
</form>

