<h1>
    Choose Your Yoga Practice and Set a Budget for Potential Yoga Retreats
</h1>

<form action="/yogi" method = "POST">
    <label for="practice">Practice:</label>
    <select id="practice" name="practice">
        <option value="restorative">Restorative (Best for Relaxing, Stretching)</option>
        <option value="hatha">Hatha (Middle Speed, Longer Holds)</option>
        <option value="vinyasa">Vinyasa (Faster Pace, More Fluid Movement)</option>
    </select>
    <br>
    <br>
    <label for="budget">Retreat Budget:</label>
    <select id="budget" name="budget">
        <option value="300">$300</option>
        <option value="600">$600</option>
        <option value="1000">$1000</option>
    </select>
    <p><input type = "submit" value = "submit" /></p>
</form>