<h1>
    Choose an Option Below
</h1>

<form action='/yogi/find_plan'>
    <input type="submit" value="Find a Practice Plan" />
</form>

<form action='/yogi/find_equipment/'>
    <input type="submit" value="Find Equipment" />
</form>

<form action='/yogi/find_books'>
    <input type="submit" value="Find Books" />
</form>

<form action='/yogi/find_facilities'>
    <input type="submit" value="Find Facilities" />
</form>

<form action='/yogi/find_events'>
    <input type="submit" value="Find Retreats" />
</form>

<form action='/'>
    <input type="submit" value="Start Over!" />
</form>

