[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
hypercorn = "*"
requests = "*"
python-multipart = "*"
jinja2 = "*"
geopy = "*"
uszipcode = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
